#header {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 0;
  right: 0;
  padding: 12px;
  margin: auto;
  justify-content: space-evenly;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.35);
  border-bottom: 1px solid rgb(223, 223, 223);
  -webkit-box-shadow: 0px 6px 64px -30px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 6px 64px -30px rgba(0,0,0,0.15);
  box-shadow: 0px 6px 64px -30px rgba(0,0,0,0.15);
}

#subheader {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#rightHeader {
  width: 60%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.headerLink {
  text-decoration: none;
  margin: auto;
  color: #4441ff;
}

.headerText {
  margin: auto;
}

#headerLogo {
  width: 200px;
  margin: auto;
  filter: invert(9%) sepia(100%) saturate(6607%) hue-rotate(257deg) brightness(99%) contrast(131%);
}

.signUp {
  border: none;
  outline: none;
  border-radius: 300px;
  background-color: #4441ff;
  color: white;
  width: 100px;
  height: 45px !important;
}

#signUpButton {
  margin: auto;
}

#title {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 12% auto auto auto;
  color: white;
}

#leftWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto auto auto;

}

#maincontent {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 7% auto auto auto;
}

.yearHead {
  font-weight: bold;
  text-align: center;
  width: 90%;
  padding: 12px;
  margin: auto !important;
}

#display {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
}

#selector {
  height: 100%;
  width: 50%;
  padding: 0px;
  border-radius: 12px;
  margin: 0px auto auto 12px !important;
}

#topCourseSelect {
  border: 1px dotted rgb(179, 179, 179);
  padding: 12px;
  border-radius: 14px;
  margin-top: 6px !important;
}

.year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  width: 100%;
  margin: auto !important;
}

.yearlist {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 12px 6px 12px;
}

#courselist {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 12px;
}

.courseListInsert > div {
  width: 48% !important;
}

.course {
  display: flex;
  justify-content: center;
  cursor: move;
  border-radius: 12px;
  margin: auto;
  outline: 1px dotted rgb(170, 170, 170);
  opacity: 1;
  height: 100px;
}

.course:hover {
  outline: 3px dotted grey;
}

.over {
  outline: 3px dotted #666;
}

.disabled {
  display: flex;
  justify-content: center;
  margin: auto;
  opacity: 0.4;
  outline: 1px dotted grey;
  height: 100px !important;
  width: 225px !important;
  margin: 4px !important;
}

.fillerTitle {
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#topLogo {
  height: 50px;
  width: 50px;
  margin: auto;
  border-radius: 25%;
}

#search {
  width: 90%;
  margin: 0px auto 18px auto;
}

#searchInput {
  margin: auto;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.15);
  border: none;
  padding: 4px;
  outline: none;
  border-radius: 6px;
  font-size: 0.8rem;
}

#bottomStats {
  border: 1px dotted rgb(179, 179, 179);
  padding: 24px 24px 48px 24px;
  margin: 12px auto auto auto;
  border-radius: 12px;
}

#bottomSub {
  margin: auto;
}

#bottomGPATitle {
  margin: 12px auto auto auto;
  text-align: center;
  font-weight: bold;
}

#subGPA {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 12px;
  text-align: center;
}

.optimalGPATitle {
  margin: auto;
  text-align: center;
  font-size: 3rem;
}

.optimalTitle {
  text-align: center;
  margin: auto;
  color: grey;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.math, .humanities, .cs, .science, .language, .other, .senior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
  position: relative;
  margin: 4px;
  color: black;
  border-radius: 12px !important;
}

.science div {
  background-color: #ffffff;
  opacity: 0.1;
  background-image: linear-gradient(0deg, #ffffff 50%, #52ff00 50%);
  background-size: 6px 6px;
  border-radius: 12px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -100000;
}

.language div {
  background-color: #e5e5f7;
  opacity: 0.3;
  background-image:  linear-gradient(135deg, #f78a45 25%, transparent 25%), linear-gradient(225deg, #f78a45 25%, transparent 25%), linear-gradient(45deg, #f78a45 25%, transparent 25%), linear-gradient(315deg, #f78a45 25%, #e5e5f7 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  border-radius: 12px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -100000;
}

.other div {
  background-color: #e5e5f7;
  opacity: 0.2;
  background: linear-gradient(135deg, #ff9b9b55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #ff9b9b 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #ff9b9b55 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #ff9b9b 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
  z-index: -10000;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  border-radius: 12px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.humanities div {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e5e5f7;
  opacity: 0.2;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #ff740055, #ff7400 );
  z-index: -10000;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  border-radius: 12px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

}

.math div {
  background-color: rgba(229, 229, 247);
  opacity: 0.2;
  background-image: linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  border-radius: 12px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.cs div {
  background-color: rgba(229, 229, 247);
  opacity: 0.2;
  background-image: linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  border-radius: 12px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: -1000;
  bottom: 0px;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #45f3f7 0, #45f3f7 1px, #e5e5f7 0, #e5e5f7 50%);
}

.courseTitle {
  font-weight: 500;
  margin: 0px;
}

.courseInfo {
  text-transform: uppercase;
  margin: 0px;
  color: rgb(97, 97, 97);
  font-size: 0.8rem;
}

#courseTitleHeader {
  margin: auto;
  text-align: center;
  font-weight: bold;
  padding: 12px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#autofillButton {
  padding: 4px;
  margin-top: 8px;
  width: 100%;
}

#autofill {
  width: 100%;
  color: white;
  padding: 12px;
  border-radius: 12px;
  background-color: blue;
  outline: none;
  border: none  ;
}

#footer {
  margin-top: 5px;
  text-align: center;
  color: grey;
  padding: 12px;
}

#topAlert {
  display: none;
  margin: auto auto auto 0px;
  padding: 12px;
  background-color: rgba(255, 187, 0, 0.5);
  border: 4px solid rgba(155, 114, 0, 0.1); 
  margin-right: 36px;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
}

#alertText {
  margin: auto auto auto 0px;
  text-align: left;
}

#deleteButton {
  background: none;
  border: none;
  margin: 0px 0px 0px 48px;
  padding: 6px;
  outline: none;
}

#declineButton {
  background: none;
  border: none;
  outline: none;
  color: blue;
  text-decoration: underline;
}

#subalert {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 90%;
}